body {
  font: 16px "Lato", Helvetica, Arial, sans-serif;
}

h3 {
  font-weight: 500;
}

a {
  color: #00B7FF;
}

.thumbnail img {
  max-height: 150px;
}

.thumbnail .description {
  color: #7f7f7f;
  font-weight: 300;
}

.thumbnail .price {
  font-weight: 700;
}

